body{
    background-color: #ff552b;
}

h1{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}
.coordonnee{
    text-align: left;
}
.notes{
    display: inline;
    justify-content: space-around;
}
.task{
    display: inline;
    justify-content: space-between;
}
.tags{
    display: flex;
    justify-content: flex-start;
}